MARIADB - JOIN
===

**Valentina Vásquez Hernandez**  
vavasquezhe@unal.edu.co   
Universidad Nacional de Colombia, Sede Medellín  
Facultad de Minas  
Medellín, Colombia

---

<img src="sql_joins.png">


---

Para el motor MariaDB que se implementó en clase, los comandos JOIN disponibles son LEFT JOIN, RIGHT JOIN, INNER JOIN y  CROSS JOIN.

**INNER JOIN**:Muestra las filas que coincidan en ambos archivos. 

> SELECT * FROM data_1 INNER JOIN data_2 ON data_1.id=data_2.id;

**LEFT JOIN**:Muestra las filas que coincidan en ambos archivos. 

> SELECT * FROM data_1 LEFT JOIN data_2 ON data_1.id=data_2.id;

**RIGTH JOIN**:Muestra las filas que coincidan en ambos archivos. 

> SELECT * FROM data_1 RIGHT JOIN data_2 ON data_1.id=data_2.id;

---