## Intro SQLite3
---

## Ciencia de los Datos Aplicada
* ##### Facultad de Minas
* ##### Universidad Nacional de Colombia
* ##### Autor: Valentina Vásquez Hernandez

---

### 1. ¿Qué es SQLite?

* `Bases de datos con arquitectura cliente-servidor:` MySQL, Oracle, PostgreSQL, SQL Server. Tienen una compatibilidad completa con `SQL` (lenguaje estandar en la comunidad), y cuentan con una combinación de código abierto y distribución comercial; es decir, permite a pequeñas empresas tener acceso a un almacenamiento escalable, manejo de concurrencia, centralización y control sobre los datos.

* `SqLite`:  Base de datos embebida, serverless y completamente de código abierto. Se especializa enalmacenar data local para aplicaciones y dispositivos. Tienen una compatibilidad completa con `SQL`. [1](https://www.sqlite.org/whentouse.html)

> Esquema base de datos relacional [2](https://www.pragimtech.com/blog/mongodb-tutorial/relational-and-non-relational-databases/)


<img src="data/relationaldb.jpg" alt="drawing" width="600"/>

**Principales comandos:**

* `SELECT`, `SELECT DISTINCT`: comando obligatorio en cualquier sentancia. Selecciona todos los registros y únicos, respectivamente.
* `WHERE`, `HAVING`: permiten filtrar columnas de la tabla, estáticos y calculados, respectivamente.
* `ORDER BY`: ordena el resultado de una columna de acuerdo a lo que especifique el usuario.
* `INSERT INTO`, `DELETE`, `UPDATE`
* `COUNT`, `MAX`, `MIN`, `SUM`, `AVG`, `GROUP BY`: funciones de agregación.

**Estructura:**    
> Database 
>> Tables
>>> Rows/Columns


*Documentación*: https://www.sqlite.org/lang.html

### 1. ¿Cómo uso MySQL/MariaDB?

El valor agregado de MariaDB es replicar un entorno productivo de manera local, *OpenSource* y explorar la integración de varias herramientas con un sistema de gestión de bases de datos.

In [1]:
##La librería sqllite se encuentra por defecto en Python desde la versión 2.5
import sqlite3

conn = sqlite3.connect(":memory:") 
cur = conn.cursor()

In [7]:
## Se crea una carpeta donde se almacenarán los scripts en formato .sql
!rm -rf tmp
!mkdir -p tmp

A continuación se crea la tabla a usar y se establece el esquema de la tabla:

In [2]:
## Se crea la tabla 
cur.executescript(
    """
    DROP TABLE IF EXISTS cars;

    CREATE TABLE cars (
        Id             INT,
        symboling      FLOAT(8,4),
        normalized_losses      INT,
        make      VARCHAR(20),
        fuel_type      VARCHAR(20),
        aspiration      VARCHAR(20),
        num_of_doors      VARCHAR(20),
        body_style      VARCHAR(20),
        drive_wheels      VARCHAR(20),
        engine_location      VARCHAR(20),
        wheel_base       FLOAT(8,4),
        length      FLOAT(8,4),
        width      FLOAT(8,4),
        height      FLOAT(8,4),
        curb_weight      FLOAT(8,4),
        engine_type      VARCHAR(20),
        num_of_cylinders      VARCHAR(20),
        engine_size      FLOAT(8,4),
        fuel_system      VARCHAR(20),
        bore      FLOAT(8,4),
        stroke      FLOAT(8,4),
        compression_ratio      INT,
        horsepower      INT,
        peak_rpm      INT,
        city_mpg      INT,
        highway_mpg      INT,
        price      INT
        );
    """
)

conn.commit()

In [3]:
## Verificamos las tasblas existentes
cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('cars',)]

In [4]:
## Verificamos las bases de datos existentes
cur.execute("SELECT name FROM sqlite_master WHERE type='database';").fetchall()

[]

A continuación se cargaran los datos `data/cars.csv` a una tabla, de los cuales se puede leer la descripción en el archivo `Data/description.txt`:

In [5]:
import pandas as pd

drivers = pd.read_csv("Data/input/cars.csv", sep=";")
n = 1
lista = []
for i, row in drivers.iterrows():
    sql = "INSERT INTO cars VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"
    cur.execute(sql, tuple([n] + list(row)))   
    conn.commit()
    lista.append(tuple([n] + list(row)))
    n += 1

In [8]:
#
# Verificación
#
cur.execute("SELECT * FROM cars LIMIT 1;").fetchall()

[(1,
  2.0,
  164,
  'audi',
  'gas',
  'std',
  'four',
  'sedan',
  '4wd',
  'front',
  99.4,
  176.6,
  66.4,
  54.3,
  2824.0,
  'ohc',
  'five',
  136.0,
  'mpfi',
  3.19,
  3.4,
  8,
  115,
  5500,
  18,
  22,
  17450)]

Dada la integración con Python, es posible ejecutar consultas sobre SqlLite3 e interactuar con funciones de usuario en Python:

In [12]:
## Se obtiene por marca, tipo de de combustible y número de puestas el precio mīnimio, precio máximo, y precio promedio
cur.execute("""
SELECT 
make,
fuel_type,
num_of_doors,
MIN(price) AS min_price,
AVG(price) AS avg_price,
MAX(price) AS max_price
FROM cars
GROUP BY fuel_type, num_of_doors, make 
ORDER BY max_price;
""").fetchall()

[('chevrolet', 'gas', 'two', 5151, 5723.0, 6295),
 ('chevrolet', 'gas', 'four', 6575, 6575.0, 6575),
 ('nissan', 'diesel', 'two', 7099, 7099.0, 7099),
 ('subaru', 'gas', 'two', 5118, 6591.333333333333, 7603),
 ('volkswagen', 'diesel', 'two', 7775, 7775.0, 7775),
 ('plymouth', 'gas', 'two', 5572, 6764.5, 7957),
 ('dodge', 'gas', 'four', 6229, 7362.75, 8921),
 ('plymouth', 'gas', 'four', 6229, 7362.75, 8921),
 ('mitsubishi', 'gas', 'four', 6989, 8434.0, 9279),
 ('volkswagen', 'diesel', 'four', 7995, 8745.0, 9495),
 ('mitsubishi', 'gas', 'two', 5389, 7399.0, 9959),
 ('volkswagen', 'gas', 'two', 7975, 8977.5, 9980),
 ('volkswagen', 'gas', 'four', 8195, 8895.0, 9995),
 ('honda', 'gas', 'two', 5399, 7465.75, 10345),
 ('mazda', 'gas', 'two', 5195, 7505.0, 10595),
 ('toyota', 'diesel', 'four', 7788, 8794.666666666666, 10698),
 ('subaru', 'gas', 'four', 7126, 9191.222222222223, 11694),
 ('honda', 'gas', 'four', 7295, 9335.0, 12945),
 ('dodge', 'gas', 'two', 5572, 8217.5, 12964),
 ('nissan', 'gas', 'four', 6849, 9954.555555555555, 14399),
 ('toyota', 'gas', 'four', 6488, 9024.57142857143, 15690),
 ('toyota', 'gas', 'two', 5348, 10562.0, 17669),
 ('peugot', 'diesel', 'four', 13200, 16016.666666666666, 17950),
 ('peugot', 'gas', 'four', 11900, 15565.0, 18150),
 ('saab', 'gas', 'two', 11850, 15013.333333333334, 18150),
 ('mazda', 'gas', 'four', 6695, 10392.5, 18280),
 ('saab', 'gas', 'four', 12170, 15433.333333333334, 18620),
 ('nissan', 'gas', 'two', 5499, 11349.0, 19699),
 ('bmw', 'gas', 'two', 16430, 18700.0, 20970),
 ('bmw', 'gas', 'four', 16925, 19015.0, 21105),
 ('porsche', 'gas', 'two', 22018, 22018.0, 22018),
 ('volvo', 'diesel', 'four', 22470, 22470.0, 22470),
 ('volvo', 'gas', 'four', 12940, 17622.5, 22625),
 ('audi', 'gas', 'four', 17450, 19678.333333333332, 23875),
 ('mercedes-benz', 'diesel', 'two', 28176, 28176.0, 28176),
 ('mercedes-benz', 'diesel', 'four', 25552, 28466.666666666668, 31600),
 ('jaguar', 'gas', 'four', 32250, 32250.0, 32250),
 ('mercedes-benz', 'gas', 'two', 35056, 35056.0, 35056)]

In [13]:
%%writefile /tmp/query_make.sql
SELECT 
make,
fuel_type,
 num_of_doors,
 MIN(price) AS min_price,
 AVG(price) AS avg_price,
 MAX(price) AS max_price 
FROM cars 
WHERE make = {}{}{}
GROUP BY fuel_type,num_of_doors,make 
ORDER BY max_price;

Writing /tmp/query_make.sql

In [14]:
def make_query(make):
    file = open("/tmp/query_make.sql", 'r').read()
    query = file.format("'",str(make),"'")
    query_path = "tmp/query_make_{}.sql".format(make)
    with open(query_path, 'w') as f:
        f.write(query)
    f.close()
    return query_path

In [15]:
make_query("jaguar")

'tmp/query_make_jaguar.sql'

In [16]:
make_query("mazda")

'tmp/query_make_mazda.sql'

In [17]:
make_query("toyota")

'tmp/query_make_toyota.sql'

In [106]:
import csv
def query_to_csv(sql_file):
   with open(sql_file, 'r') as file:
      data = cur.execute(file.read()).fetchall()
      out = open(str(sql_file.split("/")[1]).split(".")[0]+'.csv','w') #sql_file.split("/")[1].split['.'][0]
      csv_out=csv.writer(out)
      csv_out.writerows([[str(e) for e in row] for row in data])
      file.close()
      out.close()

In [105]:
query_to_csv('tmp/query_make_toyota.sql')

**Operaciones de ventana**

In [111]:
%%writefile tmp/sqlite_window_func_1.sql
SELECT 
RANK() OVER (PARTITION BY engine_location ORDER BY aspiration DESC) AS rank, 
DENSE_RANK() OVER (PARTITION BY engine_location ORDER BY aspiration DESC) AS dense_rank, 
ROW_NUMBER() OVER (PARTITION BY engine_location ORDER BY aspiration DESC) AS row_num,
engine_location, aspiration
FROM cars;

Writing tmp/sqlite_window_func_1.sql

In [114]:
cur.execute(open('tmp/sqlite_window_func_1.sql', 'r').read()).fetchall()

[(1, 1, 1, 'front', 'turbo'),
 (1, 1, 2, 'front', 'turbo'),
 (1, 1, 3, 'front', 'turbo'),
 (1, 1, 4, 'front', 'turbo'),
 (1, 1, 5, 'front', 'turbo'),
 (1, 1, 6, 'front', 'turbo'),
 (1, 1, 7, 'front', 'turbo'),
 (1, 1, 8, 'front', 'turbo'),
 (1, 1, 9, 'front', 'turbo'),
 (1, 1, 10, 'front', 'turbo'),
 (1, 1, 11, 'front', 'turbo'),
 (1, 1, 12, 'front', 'turbo'),
 (1, 1, 13, 'front', 'turbo'),
 (1, 1, 14, 'front', 'turbo'),
 (1, 1, 15, 'front', 'turbo'),
 (1, 1, 16, 'front', 'turbo'),
 (1, 1, 17, 'front', 'turbo'),
 (1, 1, 18, 'front', 'turbo'),
 (1, 1, 19, 'front', 'turbo'),
 (1, 1, 20, 'front', 'turbo'),
 (1, 1, 21, 'front', 'turbo'),
 (1, 1, 22, 'front', 'turbo'),
 (1, 1, 23, 'front', 'turbo'),
 (1, 1, 24, 'front', 'turbo'),
 (1, 1, 25, 'front', 'turbo'),
 (1, 1, 26, 'front', 'turbo'),
 (1, 1, 27, 'front', 'turbo'),
 (28, 2, 28, 'front', 'std'),
 (28, 2, 29, 'front', 'std'),
 (28, 2, 30, 'front', 'std'),
 (28, 2, 31, 'front', 'std'),
 (28, 2, 32, 'front', 'std'),
 (28, 2, 33, 'front', 'std'),
 (28, 2, 34, 'front', 'std'),
 (28, 2, 35, 'front', 'std'),
 (28, 2, 36, 'front', 'std'),
 (28, 2, 37, 'front', 'std'),
 (28, 2, 38, 'front', 'std'),
 (28, 2, 39, 'front', 'std'),
 (28, 2, 40, 'front', 'std'),
 (28, 2, 41, 'front', 'std'),
 (28, 2, 42, 'front', 'std'),
 (28, 2, 43, 'front', 'std'),
 (28, 2, 44, 'front', 'std'),
 (28, 2, 45, 'front', 'std'),
 (28, 2, 46, 'front', 'std'),
 (28, 2, 47, 'front', 'std'),
 (28, 2, 48, 'front', 'std'),
 (28, 2, 49, 'front', 'std'),
 (28, 2, 50, 'front', 'std'),
 (28, 2, 51, 'front', 'std'),
 (28, 2, 52, 'front', 'std'),
 (28, 2, 53, 'front', 'std'),
 (28, 2, 54, 'front', 'std'),
 (28, 2, 55, 'front', 'std'),
 (28, 2, 56, 'front', 'std'),
 (28, 2, 57, 'front', 'std'),
 (28, 2, 58, 'front', 'std'),
 (28, 2, 59, 'front', 'std'),
 (28, 2, 60, 'front', 'std'),
 (28, 2, 61, 'front', 'std'),
 (28, 2, 62, 'front', 'std'),
 (28, 2, 63, 'front', 'std'),
 (28, 2, 64, 'front', 'std'),
 (28, 2, 65, 'front', 'std'),
 (28, 2, 66, 'front', 'std'),
 (28, 2, 67, 'front', 'std'),
 (28, 2, 68, 'front', 'std'),
 (28, 2, 69, 'front', 'std'),
 (28, 2, 70, 'front', 'std'),
 (28, 2, 71, 'front', 'std'),
 (28, 2, 72, 'front', 'std'),
 (28, 2, 73, 'front', 'std'),
 (28, 2, 74, 'front', 'std'),
 (28, 2, 75, 'front', 'std'),
 (28, 2, 76, 'front', 'std'),
 (28, 2, 77, 'front', 'std'),
 (28, 2, 78, 'front', 'std'),
 (28, 2, 79, 'front', 'std'),
 (28, 2, 80, 'front', 'std'),
 (28, 2, 81, 'front', 'std'),
 (28, 2, 82, 'front', 'std'),
 (28, 2, 83, 'front', 'std'),
 (28, 2, 84, 'front', 'std'),
 (28, 2, 85, 'front', 'std'),
 (28, 2, 86, 'front', 'std'),
 (28, 2, 87, 'front', 'std'),
 (28, 2, 88, 'front', 'std'),
 (28, 2, 89, 'front', 'std'),
 (28, 2, 90, 'front', 'std'),
 (28, 2, 91, 'front', 'std'),
 (28, 2, 92, 'front', 'std'),
 (28, 2, 93, 'front', 'std'),
 (28, 2, 94, 'front', 'std'),
 (28, 2, 95, 'front', 'std'),
 (28, 2, 96, 'front', 'std'),
 (28, 2, 97, 'front', 'std'),
 (28, 2, 98, 'front', 'std'),
 (28, 2, 99, 'front', 'std'),
 (28, 2, 100, 'front', 'std'),
 (28, 2, 101, 'front', 'std'),
 (28, 2, 102, 'front', 'std'),
 (28, 2, 103, 'front', 'std'),
 (28, 2, 104, 'front', 'std'),
 (28, 2, 105, 'front', 'std'),
 (28, 2, 106, 'front', 'std'),
 (28, 2, 107, 'front', 'std'),
 (28, 2, 108, 'front', 'std'),
 (28, 2, 109, 'front', 'std'),
 (28, 2, 110, 'front', 'std'),
 (28, 2, 111, 'front', 'std'),
 (28, 2, 112, 'front', 'std'),
 (28, 2, 113, 'front', 'std'),
 (28, 2, 114, 'front', 'std'),
 (28, 2, 115, 'front', 'std'),
 (28, 2, 116, 'front', 'std'),
 (28, 2, 117, 'front', 'std'),
 (28, 2, 118, 'front', 'std'),
 (28, 2, 119, 'front', 'std'),
 (28, 2, 120, 'front', 'std'),
 (28, 2, 121, 'front', 'std'),
 (28, 2, 122, 'front', 'std'),
 (28, 2, 123, 'front', 'std'),
 (28, 2, 124, 'front', 'std'),
 (28, 2, 125, 'front', 'std'),
 (28, 2, 126, 'front', 'std'),
 (28, 2, 127, 'front', 'std'),
 (28, 2, 128, 'front', 'std'),
 (28, 2, 129, 'front', 'std'),
 (28, 2, 130, 'front', 'std'),
 (28, 2, 131, 'front', 'std'),
 (28, 2, 132, 'front', 'std'),
 (28, 2, 133, 'front', 'std'),
 (28, 2, 134, 'front', 'std'),
 (28, 2, 135, 'front', 'std'),
 (28, 2, 136, 'front', 'std'),
 (28, 2, 137, 'front', 'std'),
 (28, 2, 138, 'front', 'std'),
 (28, 2, 139, 'front', 'std'),
 (28, 2, 140, 'front', 'std'),
 (28, 2, 141, 'front', 'std'),
 (28, 2, 142, 'front', 'std'),
 (28, 2, 143, 'front', 'std'),
 (28, 2, 144, 'front', 'std'),
 (28, 2, 145, 'front', 'std'),
 (28, 2, 146, 'front', 'std'),
 (28, 2, 147, 'front', 'std'),
 (28, 2, 148, 'front', 'std'),
 (28, 2, 149, 'front', 'std'),
 (28, 2, 150, 'front', 'std'),
 (28, 2, 151, 'front', 'std'),
 (28, 2, 152, 'front', 'std'),
 (28, 2, 153, 'front', 'std'),
 (28, 2, 154, 'front', 'std'),
 (28, 2, 155, 'front', 'std'),
 (28, 2, 156, 'front', 'std'),
 (28, 2, 157, 'front', 'std'),
 (28, 2, 158, 'front', 'std')]

In [118]:
%%writefile tmp/sqlite_window_func_2.sql
SELECT 
Id, drive_wheels, price,
LAG(price,1) OVER (ORDER BY price) AS price_lag
FROM cars;

Overwriting tmp/sqlite_window_func_2.sql

In [119]:
cur.execute(open('tmp/sqlite_window_func_2.sql', 'r').read()).fetchall()

[(97, 'fwd', 5118, None),
 (8, 'fwd', 5151, 5118),
 (33, 'fwd', 5195, 5151),
 (109, 'fwd', 5348, 5195),
 (49, 'fwd', 5389, 5348),
 (21, 'fwd', 5399, 5389),
 (59, 'fwd', 5499, 5399),
 (11, 'fwd', 5572, 5499),
 (84, 'fwd', 5572, 5572),
 (34, 'fwd', 6095, 5572),
 (50, 'fwd', 6189, 6095),
 (14, 'fwd', 6229, 6189),
 (86, 'fwd', 6229, 6229),
 (9, 'fwd', 6295, 6229),
 (110, 'fwd', 6338, 6295),
 (12, 'fwd', 6377, 6338),
 (19, 'fwd', 6479, 6377),
 (111, 'fwd', 6488, 6479),
 (22, 'fwd', 6529, 6488),
 (10, 'fwd', 6575, 6529),
 (61, 'fwd', 6649, 6575),
 (51, 'fwd', 6669, 6649),
 (15, 'fwd', 6692, 6669),
 (87, 'fwd', 6692, 6692),
 (36, 'fwd', 6695, 6692),
 (35, 'fwd', 6795, 6695),
 (62, 'fwd', 6849, 6795),
 (20, 'fwd', 6855, 6849),
 (112, 'fwd', 6918, 6855),
 (115, 'fwd', 6938, 6918),
 (55, 'fwd', 6989, 6938),
 (98, 'fwd', 7053, 6989),
 (60, 'fwd', 7099, 7053),
 (100, 'fwd', 7126, 7099),
 (23, 'fwd', 7129, 7126),
 (116, 'fwd', 7198, 7129),
 (24, 'fwd', 7295, 7198),
 (25, 'fwd', 7295, 7295),
 (64, 'fwd', 7299, 7295),
 (63, 'fwd', 7349, 7299),
 (37, 'fwd', 7395, 7349),
 (105, 'fwd', 7463, 7395),
 (66, 'fwd', 7499, 7463),
 (99, '4wd', 7603, 7499),
 (16, 'fwd', 7609, 7603),
 (88, 'fwd', 7609, 7609),
 (52, 'fwd', 7689, 7609),
 (119, 'fwd', 7738, 7689),
 (101, 'fwd', 7775, 7738),
 (140, 'fwd', 7775, 7775),
 (118, 'fwd', 7788, 7775),
 (65, 'fwd', 7799, 7788),
 (26, 'fwd', 7895, 7799),
 (113, '4wd', 7898, 7895),
 (117, 'fwd', 7898, 7898),
 (13, 'fwd', 7957, 7898),
 (85, 'fwd', 7957, 7957),
 (141, 'fwd', 7975, 7957),
 (142, 'fwd', 7995, 7975),
 (67, 'fwd', 7999, 7995),
 (107, '4wd', 8013, 7999),
 (122, 'rwd', 8058, 8013),
 (56, 'fwd', 8189, 8058),
 (143, 'fwd', 8195, 8189),
 (123, 'rwd', 8238, 8195),
 (68, 'fwd', 8249, 8238),
 (120, 'fwd', 8358, 8249),
 (126, 'rwd', 8449, 8358),
 (39, 'fwd', 8495, 8449),
 (144, 'fwd', 8495, 8495),
 (54, 'fwd', 8499, 8495),
 (114, '4wd', 8778, 8499),
 (28, 'fwd', 8845, 8778),
 (38, 'fwd', 8845, 8845),
 (17, 'fwd', 8921, 8845),
 (89, 'fwd', 8921, 8921),
 (132, 'fwd', 8948, 8921),
 (69, 'fwd', 8949, 8948),
 (27, 'fwd', 9095, 8949),
 (103, '4wd', 9233, 9095),
 (121, 'fwd', 9258, 9233),
 (57, 'fwd', 9279, 9258),
 (58, 'fwd', 9279, 9279),
 (124, 'rwd', 9298, 9279),
 (145, 'fwd', 9495, 9298),
 (125, 'rwd', 9538, 9495),
 (70, 'fwd', 9549, 9538),
 (127, 'rwd', 9639, 9549),
 (53, 'fwd', 9959, 9639),
 (102, 'fwd', 9960, 9959),
 (147, 'fwd', 9980, 9960),
 (134, 'fwd', 9988, 9980),
 (128, 'rwd', 9989, 9988),
 (146, 'fwd', 9995, 9989),
 (106, 'fwd', 10198, 9995),
 (41, 'fwd', 10245, 10198),
 (29, 'fwd', 10295, 10245),
 (31, 'fwd', 10345, 10295),
 (40, 'fwd', 10595, 10345),
 (133, 'fwd', 10698, 10595),
 (135, 'fwd', 10898, 10698),
 (129, 'rwd', 11199, 10898),
 (42, 'fwd', 11245, 11199),
 (136, 'fwd', 11248, 11245),
 (104, '4wd', 11259, 11248),
 (130, 'rwd', 11549, 11259),
 (108, '4wd', 11694, 11549),
 (91, 'fwd', 11850, 11694),
 (77, 'rwd', 11900, 11850),
 (92, 'fwd', 12170, 11900),
 (148, 'rwd', 12940, 12170),
 (30, 'fwd', 12945, 12940),
 (18, 'fwd', 12964, 12945),
 (78, 'rwd', 13200, 12964),
 (149, 'rwd', 13415, 13200),
 (71, 'fwd', 13499, 13415),
 (73, 'fwd', 13499, 13499),
 (72, 'fwd', 14399, 13499),
 (93, 'fwd', 15040, 14399),
 (94, 'fwd', 15510, 15040),
 (79, 'rwd', 15580, 15510),
 (139, 'rwd', 15690, 15580),
 (150, 'rwd', 15985, 15690),
 (138, 'rwd', 15998, 15985),
 (4, 'rwd', 16430, 15998),
 (151, 'rwd', 16515, 16430),
 (137, 'rwd', 16558, 16515),
 (81, 'rwd', 16630, 16558),
 (154, 'rwd', 16845, 16630),
 (80, 'rwd', 16900, 16845),
 (5, 'rwd', 16925, 16900),
 (74, 'rwd', 17199, 16925),
 (1, '4wd', 17450, 17199),
 (131, 'rwd', 17669, 17450),
 (2, 'fwd', 17710, 17669),
 (82, 'rwd', 17950, 17710),
 (83, 'rwd', 18150, 17950),
 (95, 'fwd', 18150, 18150),
 (43, 'rwd', 18280, 18150),
 (76, 'rwd', 18399, 18280),
 (152, 'rwd', 18420, 18399),
 (96, 'fwd', 18620, 18420),
 (153, 'rwd', 18950, 18620),
 (155, 'rwd', 19045, 18950),
 (75, 'rwd', 19699, 19045),
 (6, 'rwd', 20970, 19699),
 (7, 'rwd', 21105, 20970),
 (156, 'rwd', 21485, 21105),
 (90, 'rwd', 22018, 21485),
 (157, 'rwd', 22470, 22018),
 (158, 'rwd', 22625, 22470),
 (3, 'fwd', 23875, 22625),
 (44, 'rwd', 25552, 23875),
 (46, 'rwd', 28176, 25552),
 (45, 'rwd', 28248, 28176),
 (47, 'rwd', 31600, 28248),
 (32, 'rwd', 32250, 31600),
 (48, 'rwd', 35056, 32250)]

---